<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>数据展示</title>
    <link rel="stylesheet" href="../public/css/index.css">
</head>

<body style="background-image: url(../public/img/show_back.gif);
            background-repeat: no-repeat;
            background-size:cover;
            background-position: center">


    <div class="header">
        数  据  展  示
    </div>

    <br>
    <br>
    <br>


    <div class="main">
        <a href="/show">数据显示</a>
        <a href="/statistics">分析统计</a>
        <a href="/log">详情日志</a>
    </div>

</body>

</html>