<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>详情日志</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../public/css/table_FYB.css">
    <link rel="stylesheet" href="../public/css/header.css">
    <link rel="stylesheet" href="../public/css/log.css">
</head>

<body>


    <a href="/" id="indexa">返回首页</a>

    <h1>详 情 日 志</h1>

    <br>
    <br>


    <!-- 显示区域 -->
    <div class="showbox">

        <table class="showbox_table">

        </table>

    </div>





    <!-- 分页区域 -->
    <div class="pagebox">
        <span class="prevbtn">上一页</span>
        <span class="nowpage">1</span>
        <span class="nextbtn">下一页</span>
    </div>


    <script src="../public/js/host.js"></script>
    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <script src="../public/js/log.js"></script>

</body>

</html>