<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册</title>
    <link rel="stylesheet" href="../public/css/register.css">
</head>

<body style="background-image: url(../public/img/login_back.gif);
            background-repeat: no-repeat;
            background-size:700px 600px;
            background-color: black;
            background-position: center">

    <p class="welcome_register" style="color:white">请先注册</p>
    <div class="main">

        <form>
            <p>
                <input type="text" name="username" class="username" placeholder="请输入账号，至少3位" maxlength="1000" style="color:white; background-color:transparent">
            </p>
            <p>
                <input type="password" name="password" class="password" placeholder="请输入密码，至少3位" maxlength="10" style="color:white; background-color:transparent">
            </p>
            <button class="btn" style="color:white">注册</button>
            <br>
        </form>
        
    </div>


    <p class="login_p">
        <a href="/login"><span style="color:whitesmoke">已 有 账 号 ，马 上 登 录</span></a>
    </p>


    <script src="../public/js/host.js"></script>
    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <script src="../public/js/register.js"></script>

</body>

</html>