<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>分析统计</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../public/css/header.css">
    <link rel="stylesheet" href="../public/css/statistics.css">
</head>

<body>

    <a href="/" id="indexa">返回首页</a>

    <h1>分析统计</h1>

    <br>
    <br>


    <div class="box1"></div>
    <div class="box2"></div>
    <div class="box3" style="height: 1000px;"></div>
    <div class="box4"></div>
    
    <script src="../public/js/host.js"></script>
    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <script src="../public/lib/Echarts/echarts.js"></script>
    <script src="../public/js/echarts_me1.js"></script>
    <script src="../public/js/echarts_me2.js"></script>
    <script src="../public/js/echarts_me3.js"></script>
    <script src="../public/js/echarts_me4.js"></script>


</body>

</html>